.movie-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* // max-width: 1260px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  position: relative;
  padding: 0 2rem;
}

.movie-content__poster {
  flex: 1;
}

.movie-content__poster__img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding-top: 165%;
}

.movie-content__info{
  width: 70%;
  padding-left: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

.title {
  font-size: 4rem;
  line-height: 1;
}

.genres {
  margin-top: 2rem;;
}

.genres__item {
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #0f0f0f;
  margin-left: 1rem;;
}

.overview {
  margin-top: 2rem;;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 500px) {
  .movie-content__poster{
    display: none;
  }

  .movie-content__info{
    width: 100%;
    padding-left: 0;
  }
}
