.movie-card {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160%;
  border-radius: 30px;
  margin-bottom: 1rem;
  bottom: 0px;
}

.movie-card:hover{
  bottom: 30px;
  transition: all 0.4s ease 0s;
}
